.content-side-bar{
  background-color: inherit;
  position: absolute;
  top: 26px;
  padding: 10px 0;
  & > li {
    cursor: pointer;
  }
  a {
    display: block;
    line-height: 20px;
    margin: 10px 0;
    color: #3F3F3F;
    box-sizing: border-box;
    border-right: 2px solid transparent;
    cursor: pointer;
    padding: 0 10px 0 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;

    i {
      opacity: 0;
    }

    &.current {
      border-right-color: #FA5B0F;
      color: #FA5B0F;
      i {
        opacity: 1;
      }
    }

    &:hover {
      color: #FA5B0F;
    }
  }
}
