.newslist_dt li {
  box-sizing: content-box;
  border-bottom: 1px dotted #b7b7b7;
  padding: 23px 0;
  height: 65px;
}

.idx_newslist1 li {
  padding: 10px 0;
}

.newslist_dt li:after {
  content: "";
  clear: all;
  display: block;
}

.newslist_dt li .time {
  float: left;
  position: relative;
  background: url(../../../static/icons/icon5.gif) no-repeat left top;
  width: 61px;
  height: 61px;
  overflow: hidden;
  margin-top: 5px;
}

.newslist_dt li .time .t1 {
  position: absolute;
  top: 19px;
  left: 11px;
}

.newslist_dt li .time .t2 {
  position: absolute;
  bottom: 17px;
  right: 11px;
}

.newslist_dt li .time span {
  font-size: 14px;
  color: #484848;
  font-family: Arial, Helvetica, sans-serif;
}

.newslist_dt li .info {
  float: left;
  margin-left: 15px;
  width: 815px;
}

.idx_newslist1 li .info {
  width: 90%;
}

.newslist_dt li .info h3 {
  margin: 10px 0 0 0;
  font-size: 18px;
  line-height: 100%;
}

.newslist_dt li .info h3 a {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.newslist_dt li .info p {
  color: #7e7e84;
  font-size: 12px;
  line-height: 180%;
  margin-top: 5px;
  width: 98%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.idx_newslist1 li .info h3 a {
  font-weight: normal;
}
