/*el-carousel-interior-position*/

.header-carousel {
  .el-carousel__container {
    height: 87vh;
    min-height: 545px;
    min-width: 900px;
  }

  // carousel 导航的位置
  .el-carousel__indicators {
    transform: translateX(-50%);
    line-height: 20px
  }

  .el-carousel__item{
    -moz-background-size: 100% 100%;
    background-size: 100% 100%
  }


  /*errands-introduction*/

  // 介绍那一栏的位置
  .errands-introduction {
    position: absolute;
    bottom: 100px;
    left: 100px;
    line-height: 25px;
    padding: 6px;
    min-width: 500px;
    max-width: 34%;
    border-left: 4px solid rgba(255, 255, 255, 0.7);
    background-color:  rgba(0, 0, 0, 0.4);
    transition: all 0.33s;

    &:hover {
      background-color: rgba(26, 65, 133, 0.62);
    }    

    h3 {
      margin: 10px;
      color: white;
    }

    p {
      margin: 10px;
      padding: 5px;
      text-indent: 20px;
      word-break: keep-all;
      white-space: normal;
      color: white
    }
  }
}

/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {
  .header-carousel {
    /*errands-introduction*/
  
    // 介绍那一栏的位置
    .errands-introduction {
      bottom: 50px;
      left: 50px;
      line-height: 22px;
      padding: 3px;
  
      h3 {
        margin: 8px;
        font-size: 17px;
      }
  
      p {
        margin: 5px;
        font-size: 15px;
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .header-carousel {
    /*errands-introduction*/
    min-width: 1200px;
  
    // 介绍那一栏的位置
    .errands-introduction {
      bottom: 50px;
      left: 50px;
      line-height: 20px;
      padding: 2px;
  
      h3 {
        margin: 4px;
        font-size: 16px;
      }
  
      p {
        margin: 3px;
        font-size: 14px;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 
}

@media only screen and (max-width : 480px) {
  .header-carousel {
    .el-carousel__container {
      height: 87vh;
      min-height: unset;
      min-width: 900px;
    }
  }
}
/* Small Devices, Tablets */
// @media only screen and (max-width : 480px) {
 
// .header-carousel {
//   .el-carousel__container {
//     height: auto;
//     min-height: auto;
//     height: 130px;
//     min-width: 100%;
//   }

//   // carousel 导航的位置
//   .el-carousel__indicators {
//     transform: translateX(-50%);
//     line-height: 20px
//   }

//   .el-carousel__item{
//     -moz-background-size: 100% 100%;
//     background-size: 100% 100%
//   }


//   /*errands-introduction*/

//   // 介绍那一栏的位置
//   .errands-introduction {
//     position: absolute;
//     display: none;
//     bottom: 100px;
//     left: 100px;
//     line-height: 25px;
//     padding: 6px;
//     min-width: 500px;
//     max-width: 34%;
//     border-left: 4px solid rgba(255, 255, 255, 0.7);
//     background-color:  rgba(0, 0, 0, 0.4);
//     transition: all 0.33s;

//     &:hover {
//       background-color: rgba(26, 65, 133, 0.62);
//     }    

//     h3 {
//       margin: 10px;
//       color: white;
//     }

//     p {
//       margin: 10px;
//       padding: 5px;
//       text-indent: 20px;
//       word-break: keep-all;
//       white-space: normal;
//       color: white
//     }
//   }
// }

// }
