.quotes {
  position: relative;
  bottom: 0;
  height: 13vh;
  width: 100%;
  line-height: 20px;
  background-color: #293D91
}

.quotes div {
  margin: auto;
  position: relative;
  width: 70%;
  height: 100%;
  z-index: 9
}

.quotes div p {
  display: inline-block;
  position: relative;
  left: 0;
  height: calc(100% - (35px));
  font-size: 20px;
  color: #fff;
  width: 60%;
  margin-top: 15px;
}

.quotes div p span {
  display: block;
  height: 33%
}

.quotes div p span:last-child {
  text-align: right;
  margin-bottom: 5px;
}

.quotes button {
  display: inline-block;
  background-color: grey;
  font: inherit;
  line-height: 1;
  position: absolute;
  margin-top: 1.6rem;
  padding: 1em 2em;
  cursor: pointer;
  right: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 17px;
  border: none;
  text-transform: uppercase;
  /* transition: background .3s; */
}
.quotes button i{
  font-size: 17px;
  margin-left: 10px;
  vertical-align: top;
}
.quotes button:hover {
  background-color: red;
}
@media (min-width: 1200px) and (max-width: 1366px) {
  .quotes button{
      margin-top: 0.9rem;
      padding: 0.75em 1.5em;
  }
}
