#searchPage{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(28, 27, 27, 0.77);
  z-index: 10
}
#search-layout{
  width: 48%;
  margin: 40vh auto;
  text-align: center;
}
.block{
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
}
#search-input{
  border: none;
  padding: 0 3%;
  width: 100%;
  background-color: inherit;
  outline: none;
  color: #fff;
  font-size: 3em;
}
#search-line{
  width: 100%;
  height: 8px;
  margin: 20px auto 5px auto;
  background-color: rgb(15, 111, 237);
}
