.content-side-bar{
  width: 17%;
  min-width: 150px;
  max-width: 300px;
  background-color: #E7E5E4;
  position: absolute;
  float: left;
  margin-left: 60px;
  padding: 25px 0 25px 0;
}
.content-side-bar > li {
  cursor: pointer;
}
.content-side-bar a{
  display: block;
  line-height: 40px;
  color: black;
  border-right: 4px solid transparent;
  cursor: pointer;
  padding: 0 0 0 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
}
.content-side-bar a.current {
  background: rgba(9, 9, 9, 0.82);
  border-right-color: #fdcc1c;
  color: white;
}
.content-side-bar a:hover{
  background: rgba(9, 9, 9, 0.82);
  border-right-color: #fdcc1c;
  color: white;
}
@media (min-width: 1200px) and (max-width: 1366px) {
  .content-side-bar a{
    font-size: 14px;
  }
}
